# File multiPhate.config controls execution of the PhATE pipeline.
# The rules of the game:
#    List your genomes as shown below: (e.g., Genome NNN), followed by the 5 required parameters.
#    Include the slash after the name of your output subdirectory (e.g., MyPhageOutDir/)
#    It is best to use numbering (e.g., Genome 1, etc).
#    When naming your genomes, do not use special characters or spaces.
#    Name your genome's fasta file with file extension ".fasta".
# Invoke multiPhate as follows:  $ python multiPhate.py myMultiPhate.config

Genome List: List each genome name followed by semicolon (;) and the fasta file name
Genome 1 
genome_file='P2.fasta'
genome_type='phage'
species='P2_phage'
name='P2'
output_subdir='P2/'
Genome 2 
genome_file='LYP215.fasta'
genome_type='phage'
species='LYP215_phage'
name='LYP215'
output_subdir='LYP215/'
Genome 3 
genome_file='LYP264.fasta'
genome_type='phage'
species='LYP264_phage'
name='LYP264'
output_subdir='LYP264/'
Genome 4 
genome_file='Lambda.fasta'
genome_type='phage'
species='Lambda_phage'
name='Lambda'
output_subdir='Lambda/'
END of list

# Processing information 
genetic_code='11'
translate_only='false'

# Gene callers
# Note: GeneMarkS requires license
gene_caller='prodigal'
genemarks_calls='false'
prodigal_calls='true'
glimmer_calls='true'
phanotate_calls='false'

# Blast parameters
blast_identity='60'
blastp_hit_count='3'
blastn_hit_count='3'

# Blast databases to set:
# Genomes: ncbi_virus_blast
ncbi_virus_blast='false'
# Genes: refseq_gene_blast 
refseq_gene_blast='false'
# Proteins: ncbi_virus_protein_blast, kegg_virus_blast, nr_blast, refseq_protein_blast, phantome_blast, pvogs_blast
# Note: KEGG requires license
ncbi_virus_protein_blast='true'
kegg_virus_blast='false'
phantome_blast='true'
pvogs_blast='true'
swissprot_blast='true'
refseq_protein_blast='false'
nr_blast='false'

# HMM database(s) to set:
hmm_program='jackhmmer'
pvogs_hmm='false'
